@import url(https://fonts.googleapis.com/css?family=Roboto:100);

.spinner {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 9;
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #e28305;
  animation: spin .5s ease-in-out infinite;
  -webkit-animation: spin .5s ease-in-out infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}