/* components/Timeline.module.css */
.main h3 {
    margin: 25px auto;text-align: center;font-size: 32px;font-weight: 900;
}
.timelineContainer {
    position: relative;
    padding: 20px;
    outline: none;
    overflow-x: auto;
    overflow-y: hidden;
    transition: transform 0.3s, height 0.3s;
    height: 350px;
  }
  
  .timelineContainer:focus {
    transform: scale(1.2);
  }
  
  .timeline {
    display: flex;
    align-items: center;
    position: relative;
    height: 350px;
    padding: 20px 0;
    width: 1920px;
    overflow-x: hidden;
  }
  
  .centerLine {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
    z-index: -1;
  }
  
  .eventContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
    position: relative;
    background-color: aqua;
    margin: 0 80px;
    cursor: pointer;
    font-size: 14px;
  }

  .verticalLine {
    width: 2px;
    background-color: black;
  }
  
  .upLine {
    height: 100px; /* Extend the line to meet the up event */
    top: -100px; /* Position the up vertical line */
    position: absolute;
    margin-right: 0;
  }
  
  .downLine {
    height: 100px; /* Extend the line to meet the down event */
    bottom: -100px; /* Position the down vertical line */
    position: absolute;
    margin-left: 0;
  }
  
  .event {
    transition: transform 0.3s;
  }
  
  .event:hover,
  .event.focused {
    transform: scale(1.2);
  }
  
  .upEvent {
    position: absolute;
    top: -140px; /* Position the up event */
  }
  
  .downEvent {
    position: absolute;
    bottom: -140px;
  }
  
  .date {
    font-weight: bold;
  }
  
  .title {
    margin-top: 5px;
  }
  
  .content {
    text-align: center;
  }
  